

{% extends "base.html" %}
{% block content %}

<h3 class="mb-4">Manage Users</h3>

<div class="card shadow">
    <div class="card-body">

        <table class="table table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if user.role == "admin" %}
                            <span class="badge bg-danger">Admin</span>
                        {% elif user.role == "vendor" %}
                            <span class="badge bg-warning text-dark">Vendor</span>
                        {% else %}
                            <span class="badge bg-info text-dark">User</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</div>

{% endblock %}


