


{% extends "base.html" %}
{% block content %}

<h3>Your Cart</h3>

<table class="table table-bordered shadow">
    <thead class="table-dark">
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.subtotal }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>Total: ₹{{ total }}</h4>

<a href="/checkout" class="btn btn-success">Checkout</a>

{% endblock %}


