


{% extends "base.html" %}
{% block content %}

<h3 class="mb-4">Products</h3>

<div class="row">
{% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body d-flex flex-column">
                <h5>{{ product.name }}</h5>
                <p>₹{{ product.price }}</p>
                <p>Stock: {{ product.quantity }}</p>

                {% if session.get('role') == 'user' %}
                <a href="/add_to_cart/{{ product.id }}" 
                   class="btn btn-primary mt-auto">
                   Add to Cart
                </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}



